h1 {
    text-align: right;
}

p:first-letter {
    font-size: 30px;
    font-weight: bold;
}

p:first-letter {
    color: red;
}

em {
    font-style: italic;
    font-weight: bold;
    color: white;
    background-color: green;
}

h1, #allotment h2, /*tbody td:nth-of-type(1)*/tbody td:first-child {
    color: orange;
}

#warehouse h2 {
    color: blue;
}

li, .students-table {
    font-weight: bold;
}

ol li{
    font-weight: normal;
}
#allotment .fruits-list li {
    color: grey;
}

#warehouse .fruits-list li {
    color: green;
}

.vegetables-list li {
    color: red;
}

.students-table {
    text-align: center;
}

tbody td:first-child {
    text-align: left;
}

tbody td:not(:first-child) {
    background-color: green;
    color: white;
}
