* {
    font-weight: bold;
}

p {
    font-weight: normal;
}

h1 {
    font-size: 30px;
    text-align: right;
    color: orange;
}

p:first-letter {
    font-size: 30px;
    color: red;
}

em {
    color: white;
    background-color: green;
}

div#allotment h2 {
    color: orange;
}

div#warehouse h2 {
    color: blue;
}

ol li {
    font-weight: normal;
}

#allotment ol.fruits-list li {
    color: grey;
}

ol.vegetables-list li {
    color: red;
}

#warehouse ol.fruits-list li {
    color: green;
}

tbody tr td {
    color: white;
    background-color: green;
    text-align: center;
}

tbody tr td:nth-child(4n+1) {
    color: orange;
    border-color: black;
    background: none;
}