


/*
.search_container {

    !*min-width: 280px;*!
}

.search_arrow {
    max-width: 545px;
    min-width: 280px;
    padding: 5px 0 5px 4px;
    background: #ffcc66;
    !*height: 54px;*!
    box-sizing: border-box;
    !*position: relative;*!
}

.search_arrow:after {
    content: "";
    width: 0;
    height: 0;
    margin: -1px 0 0 99px;
    border-style: solid;
    border-width: 27px 0 27px 13px;
    border-color: transparent transparent transparent #3070a8;
    position: absolute;
}

.search_text-field {
    max-width: 457px;
    min-width: 280px;
}

.search_check input[type="checkbox"]{
    margin: 0;
}
*/

/*
.test {
    width: 100px;
    height: 54px;
    box-sizing: border-box;
    border: 1px solid black;
    background: gray;
    !*position: relative;*!
}

.test:after {
    content: "";
    width: 0;
    height: 0;
    margin: -1px 0 0 99px;
    border-style: solid;
    border-width: 27px 0 27px 13px;
    border-color: transparent transparent transparent #007bff;
    position: absolute;
}*/
