body {
    text-align: center;
    font-family: "Trebuchet MS";
}
span, li, a {
    display: block;
}

.title_section {
    font-size: 34px;
    color: #41525c;
}

.pricing__container_standard,
.pricing__container_best-value,
.pricing__container_ultimate {
    width: 296px;
    margin: 0 auto;
    border: 1px solid #e8eaec;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
}

.pricing__container_standard {
    left: 9px;
}

.pricing__container_ultimate {
    right: 9px;
}

.pricing__container_best-value {
    box-shadow: 0 0 3px 2px #cbe2ef;
    border: 4px solid #ec8136;
    z-index: 2;
    padding-bottom: 10px;
}

.pricing__container_standard,
.pricing__container_best-value,
.pricing__container_ultimate,
a[class^="enroll"]
{
    border-radius: 3px;
}

.pricing__header, a {
    color: white;
}

.pricing__header {
    padding: 20px 0;
}

.pricing__container_best-value .pricing__header {
    padding: 25px 0;
}

.pricing__container_standard .pricing__header,
.pricing__container_ultimate .pricing__header {
    border-radius: 3px 3px 0 0;
}

.pricing__container_standard .pricing__header {
    background: #37c2d3;
}

.pricing__container_best-value .pricing__header {
    background: #ec8136;
}

.pricing__container_ultimate .pricing__header {
    background: #1cb79a;
}

.pricing__header span,
.pricing__content_iconic
{
    font-size: 30px;
}

.pricing__content {
    padding: 20px 14px;
}

.pricing__content_iconic {
    color: #3f4042;
    margin-bottom: 20px;
}

.pricing__content_price {
    color: #35495a;
    font-size: 96px;
    margin-bottom: 20px;
    position: relative;
    left: -10%;
}

.pricing__content_price:before {
    content: "$";
    font-size: 48px;
    position: absolute;
    top: 0;
    margin-left: -30px;
}

.pricing__content_price:after {
    content: "Monthly";
    font-size: 24px;
    position: absolute;
    bottom: 0;
    margin-left: -10px;
}

.pricing__content ul {
    box-sizing: border-box;
    width: 260px;
    list-style: none;
    text-align: left;
    color: #888c94;
    font-size: 18px;
    padding-left: 0;
}

.pricing__content ul li:nth-of-type(odd) { /*нечетные*/
    background: #eef5fc;
}

.pricing__content ul li:nth-of-type(even) {
    background: #f5f5f6;
}

.pricing__content ul li {
    padding-left: 60px;
    height: 32px;
    margin-bottom: 1px;
    position: relative;
}

.pricing__content ul li:before {
    content: " ";
    display: inline-block;
    background: url("../img/mark.png") center;
    position: absolute;
    margin: 4px 0 0 -35px;
    width: 14px;
    height: 15px;
}

.enroll-blue,
.enroll-orange {
    width: 252px;
    margin: 0 auto;
    padding: 14px 0;
    font-size: 19px;
    text-decoration: none;
}

.enroll-blue {
    background: #3371a6;
    box-shadow: 0 2px 1px 0 #16436a;
}

.pricing__container_best-value a {
    background: #ec8136;
    box-shadow: 0 2px 1px 0 #b1561b;
}

a:hover, a:active {
    cursor: hand;
}

.pricing__container_best-value a:hover,
.pricing__container_best-value a:active
{
    box-shadow: inset 0 0 3px 2px #b1561b;
    background: rgba(236,129,54,0.9);
}

.enroll-blue:hover,
.enroll-blue:active {
    box-shadow: inset 0 0 3px 2px #16436a;
    background: rgba(51,113,166,0.9);
}