.pager-item-list {
    display: inline-block;
}

.pager-item-list a {
    font-size: 12px;
    color: blueviolet;
    float: left;
    text-decoration: none;
    padding: 8px 14px;
}

.pager-item {
    border: 1px solid grey;
    border-radius: 3px;
    margin: 0 4px;
}

a:hover.pager-item {
    color: white;
    background-color: blueviolet;
    border: 1px solid darkviolet;
}

a:hover.fast-pager-item, a:hover.pager-dots-item {
    color: #6b009e;
}
