/*
	значение -spacing добавляются или отнимаются у того расстояния,
	который браузер использует, чтобы нарисовать данный шрифт
	данного размера
*/

body {
    font-size: 25px;
    letter-spacing: 0.15em;
    word-spacing: 1.5em;
}