body {
    font-size: 25px;
    text-decoration: underline;
}

/*
    - baseline: по базовой линии строки, default

    - super/sub: смещение вверх/вниз
	  (надстрочный и подстрочные элементы)
	  смещение на усмотрение браузера
	  влияет на контейнер строки. см. .test

	— bottom/top: низ/верх строчных элементов по низу
	  контейнера строки

	— text-bottom/top: выравнивается по верху/низу
	  области содержимого строки (это видимая часть текста,
	  включая прописные буквы и выносы букв, например хвост "у")

	— middle: почти середина :) выравнивает середину
	  вырвниваемого элемента
	  по линии, которая находится на 0.5ex от
	  базовой линии родительского элемента,
	  ex считается от шрифта родителя.

	— процентные значения и фиксированные значения
	  положительные процентные сдвигают вверх и отрицательные вниз
	  _базовую линию_ элемента, процент считается от line-height
	  сдвигаемого элемента.
	  фиксированные просто сдвигают на указанное расстояние
	  оба значения влияют на высоту контейнера строки
*/

.align-me {
    font-size: 18px;
    color: #f00;
    text-decoration: underline;
    vertical-align: baseline;
}

.test {
    vertical-align: sub;
}