body {
    font-size: 21px;
    padding: 40px;
}

ul,
ol
{
    color: #f00;
}

/*
    Чтобы маркеры и текст списка сделать
    разных цветов, необходимо сам текст
    внутри li элементов дополнительно
    оборачивать в span
*/
li span {
    color: #000;
}