@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

.portfolio__wrapper {
    width: 100%;

    margin: 50px 0 108px;

    font-family: 'Lato', sans-serif;

    text-align: center;
}

.portfolio__text_content {
    margin-bottom: 80px;
    letter-spacing: 3px;
    /*text-align: center;*/
}

h1 {
    margin: 0 0 22px;

    color: #2d3950;
    size: 41px;
}

.portfolio__text_content p {
    margin: 0;
    color: #909090;
    size: 15px;
}

.portfolio__photo_content {
    /*background: #37c2d3;*/
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.photo_content {
    /*background: #ec8136;*/
    box-sizing: border-box;

    margin: 0 15px 30px;
    /*width: calc(33.3% - 30px);*/
    min-width: calc(33.3% - 30px);

    display: inline-block;
}

.container_photo img {
    border-radius: 1px;
    width: 100%;
    height: 100%;
}