/*
    Элемент абсолютно позиционируется относительно элемента,
    у которого position: relative|absolute|fixed;
*/
html { height: 100%; }

body {
    font-size: 24px;
    margin: 0;
    padding: 20px;

    background: #efe;
}
/*Повседневная задача попап
hint: включить попап и паранжу + уменьшить высоту экрана
и поскролить*/

.paranja {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0px;

    background: #000;
    opacity: 0.5;
}

.window {
    position: fixed;
    left: 50%;
    top: 30%;

    width: 400px;
    padding: 20px;
    margin-left: -220px;

    background: #f2efdf;
    box-shadow: 0 3px 10px rgba(0,0,0,0.6);
}

.close {

    /*
    сколько мучений, чтобы получить квадрат
    */
    font-size: 20px;
    text-align: center;
    line-height: 18px;
    width: 20px;
    height: 20px;

    background: red;

    position: absolute;
    right: 5px;
    top: 5px;

    cursor: pointer;
}