/*
	Если предаставть себе путь модуляции
	от 0 к 1, то timing-functions —
	это по сути 4 точки на этом пути,
	которые мы можем укзать.

	очень наглядная картинка!

	есть некоторый набор
	предустановленных значений,

	посмотреть: easings.net
	накрутить самому: cubic-bezier.com
*/

div {
    width: 100px;
    height: 100px;
    background-color: beige;
    /*text-align: center;*/
    transition: margin 2s cubic-bezier(.08,.95,.38,-0.37);
    /*try: ease-out*/
    /*cubic-bezier(0,.85,.98,0)*/
}

div:hover {
    margin-left: 500px;
}