/*
    Суть модуляций состоит в том,
    что некоторые заранее определенные
    свойства элемента (цвет, позиционирование и т.д.)
    изменяются не резко, как это обычно бывает
    с добавлением класса, в котором переопределены
    текущие свойства элемента, а плавно,
    ну или лучше сказать "контролируемо"
*/

div {
    width: 200px;
    height: 200px;
    background-color: yellow;
    transition: background-color 1.3s linear;
}

div:hover {
    background-color: black;
}