/*
	Любой блочный элемент 
	можно трансформировать.
	
	Место, которое он занимал до
	трансформации не схлопывается.
	Также как в случае относительного 
	позиционирования
	
	Трансформации применяются
	свойством transorm, которое
	может содержать некоторые функции
	трансформирования, которые 
	являются "биндингами" к матрице
	трансформирования matrix(a,b,c,d,e,f); 
*/

div {
    width: 200px;
    height: 200px;
    background: orange;
    /*
    сдвигаем
	  translate(X,Y)
	    translateX(X), translateY(Y)

	изменяем размер,
	относительно текущего (1 = 100%)
	  scale(X,Y)
	    scaleX(X), scaleY(Y)

	переворачиваем
	  rotate(#deg)

	искажаем
	  skew(Xdeg,Ydeg)
	    skewX(Xdeg), skewY(Ydeg)
    */

    -transform: translate(20px,40px);
    /*translate(20px,40px) scale(0.75, 1.25) rotate(45deg) skew(25deg,15deg)*/
}