body {
    margin: 50px;
}

div {
    width: 200px;
    height: 200px;

    background: yellow;

    transform: rotate(45deg);

    /*
	это свойство позволяет изменить ось
	от которой происходит трансформация
	по-умолчанию это значение 50% 50%
	середина элемена
*/
    transform-origin: 0 0; /*верхний левый угол блока*/
    -transform-origin: 100% 100%; /*правый нижний угол блока*/
}