.container {
    width: 296px;
    box-shadow: 0 0 3px 2px #cbe2ef;
    margin: 0;
    /*padding:4px;*/
    border: 4px solid #ee8129;
    box-sizing: border-box;
    text-align: center;
    font-family: "Trebuchet MS";
}

.container,
input[type="button"] {
    border-radius: 3px;
}

span {display: block}

.header {
    /*width: 288px;*/
    background: #ee8129;
    padding: 20px 0;
}

.header span {
    color: white;
    font-size: 32px;
}

.content {
    /*width: 288px;*/
    background: white;
    padding: 0 14px;
}

input[type="button"] {
    background: #ee8129;
    width: 252px;
    border: none;
    padding: 14px 0;
    font-size: 19px;
}