/*
    благодаря тому, что таблицы
        -- не переносятся
        -- не выпускают контент из ячеек
        -- не разваливаются при различных
            разоешениях, ширинах и так далее
    их часто использовали для лэйаутов

    кроме несемантичности одни из основных минусов:
        -- пока таблица в table-layout:auto
            вся не загрузиралась и ее размеры
            не посчитались, большинство браузеров
            ничего не рендерит
        -- если лэйоут-таблица это основа вашего
            сайта, то почти наверняка, пока
            все содержимое не загрузится -
            вы не увидете результат
*/

body {
    font-size: 21px;
}

.t1
{
    width: 100%;
    border: 2px solid #009;

    /*
        убирает промежутки между ячейками
        у табличных элементов не бывает margin
    */
    border-collapse: collapse;
}

td
{
    padding: 0;
    border: 1px solid #000;
}

.gap
{
    width: 2%;
    min-width: 20px;

    background: #ccc;
}

.left {
    width: 16%;

    background: yellow;
}

.center
{
    width: 48%;
    background: orange;
}

.right
{
    width: 32%;
    background: red;
}

.i
{
    padding-right: 20px;
    border-right: 4px solid #fff;
}

.right .i
{
    padding-right: 0;
}