.menu-container {
    width: 100%;
    background-color: #a41eee;
    font: normal 18px Impact;
}

.menu-list {
    width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    padding: 0;
}

.menu-list li{
    display: inline-block;
    padding: 5px 0;
}

.menu-list li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;

}

.menu-list li a:hover {
    color: gray;
    background-color: lightgray;
}

.menu-right-item {
    float: right;
}